body {
  padding: 0;
  margin: 0;
  font-family: "acta-display";
}

a{
  text-decoration: none;
}
a:visited {
color: black;
}

h1, h2, h3 {
  font-family: "acta-display";
  font-weight: 300;
}

header, .section {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}


header {
  width: 100%;
  min-height: 400px;
  height: 100vh;
  font-weight: bold;
}
header h1 {
  font-size: 5rem;
}



.section {
  width: 100%;
  min-height: 400px;
  height: 100vh;
  color: black;
  box-sizing: border-box;
  position: relative;
}
.section:before {
  position: absolute;
  width: 100%;
}

.section__left {
  width: 50%;
  left:-15%;
  float: left;
}
.section__right {
  width: 50%;
  left: 20%;
  float: left;
}
.section article {
  text-align: left;
}
.section article h3 {
  font-size: 2.2rem;
}
.section article p {
  font-size: 1.2rem;
}

.section h3 span {
  width: 100%;
  background: red;
  display: block;
  height: 5px;
  margin-top: 20px;
}

.foot{
  width: 100%;
  height: 10vh;
}
.foot span{
  width: 100%;
  background: black;
  display: block;
  height: 5px;
}


* {
  position: relative;
  backface-visibility: hidden;
  font-family: "acta-display";
}

.botton {
  width: 120px;
  height: 30px;
  display: block;
  top: 45%;
  border: solid 1.5px #3B3B3B;
  border-radius: 50px;
  cursor: pointer;
  overflow: hidden;
  transition-duration: 0.5s;
  z-index: 1;
}
.botton:before {
  content: "";
  width: 250px;
  height: 80px;
  position: absolute;
  background-color: red;
  top: -16px;
  left: -270px;
  border-radius: 50px;
  transition-duration: 0.5s;
}
.botton:hover:before {
  top: -16px;
  left: -80px;
}
.botton:hover {
  transform: scaleX(1.2) scaleY(1.2);
  transform-origin: 50% 50%;
}
.botton:hover .text {
  color: white;
  font-size: 15px;
  top:-30%;
}

.text {
  font-size: 10px;
  letter-spacing: 2px;
  font-weight: 600;
  width: 100%;
  height: 100%;
  top:-30%;
  text-align: center;
  line-height: 50px;
  transition-duration: 0.5s;
}
