@import url("https://fonts.googleapis.com/css?family=Arapey");


body {
  margin: 0;
  font-family: 'Arapey';
  line-height: 30px;
  font-size: 20px;
}
body h1 {
  font-size: 2em;
  text-align: center;
  margin-top: 20%;
}

section {
  padding: 3em;
  height: 110vh;
  position: relative;
  box-sizing: border-box;
}




.p1 topic {
  font-size: 2.3em;
  width: 30%;
  margin-top: 5%;
  position: absolute;
}
.p1 topic span {
  width: 100%;
  background: red;
  display: block;
  height: 5px;
  margin-top: 20px;
}
.p1 p{
width: 600px;
margin-top: 15%;
margin-left: 40px;
}
.p1 img {
  position: absolute;
  width: 40%;
  right: 0;
  top: 20%;
}





.p2 topic {
  font-size: 2.3em;
  width: 30%;
  margin-top: 5%;
  position: absolute;
  right: 0;
}
.p2 topic span {
  width: 100%;
  background: red;
  display: block;
  height: 5px;
  margin-top: 20px;
  right: 0;
}
.p2 p{
width: 600px;
font-size: 20px;
margin-top: 15%;
margin-left: 60%;
}

.p2 img {
  position: absolute;
  width: 40%;
  left: 0;
  top: 20%;
}





.p3 topic {
  font-size: 2.3em;
  width: 30%;
  margin-top: 5%;
  position: absolute;
  right: 0;
}
.p3 topic span {
  width: 100%;
  background: red;
  display: block;
  height: 5px;
  margin-top: 20px;
  right: 0;
}
.p3 p{
width: 600px;
font-size: 20px;
margin-top: 15%;
margin-left: 60%;
}

.p3 img {
  position: absolute;
  width: 40%;
  left: 0;
  top: 20%;
}






.p4 topic {
  font-size: 2.3em;
  width: 30%;
  margin-top: 5%;
  position: absolute;
  right: 0;
}
.p4 topic span {
  width: 100%;
  background: red;
  display: block;
  height: 5px;
  margin-top: 20px;
  right: 0;
}
.p4 p{
width: 600px;
font-size: 20px;
margin-top: 15%;
margin-left: 60%;
}

.p4 img {
  position: absolute;
  width: 40%;
  left: 0;
  top: 20%;
}






.p5 topic {
  font-size: 2.3em;
  width: 30%;
  margin-top: 5%;
  position: absolute;
  right: 0;
}
.p5 topic span {
  width: 100%;
  background: red;
  display: block;
  height: 5px;
  margin-top: 20px;
  right: 0;
}
.p5 p{
width: 600px;
font-size: 20px;
margin-top: 15%;
margin-left: 60%;
}

.p5 img {
  position: absolute;
  width: 40%;
  left: 0;
  top: 20%;
}





.p6 topic {
  font-size: 2.3em;
  width: 30%;
  margin-top: 5%;
  position: absolute;
  right: 0;
}
.p6 topic span {
  width: 100%;
  background: red;
  display: block;
  height: 5px;
  margin-top: 20px;
  right: 0;
}
.p6 p{
width: 600px;
font-size: 20px;
margin-top: 15%;
margin-left: 60%;
}

.p6 img {
  position: absolute;
  width: 40%;
  left: 0;
  top: 20%;
}





.p7 topic {
  font-size: 2.3em;
  width: 30%;
  margin-top: 5%;
  position: absolute;
  right: 0;
}
.p7 topic span {
  width: 100%;
  background: red;
  display: block;
  height: 5px;
  margin-top: 20px;
  right: 0;
}
.p7 p{
width: 600px;
font-size: 20px;
margin-top: 15%;
margin-left: 60%;
}

.p7 img {
  position: absolute;
  width: 40%;
  left: 0;
  top: 20%;
}





.p8 topic {
  font-size: 2.3em;
  width: 30%;
  margin-top: 5%;
  position: absolute;
  right: 0;
}
.p8 topic span {
  width: 100%;
  background: red;
  display: block;
  height: 5px;
  margin-top: 20px;
  right: 0;
}
.p8 p{
width: 600px;
font-size: 20px;
margin-top: 15%;
margin-left: 60%;
}

.p8 img {
  position: absolute;
  width: 40%;
  left: 0;
  top: 20%;
}





.p9 topic {
  font-size: 2.3em;
  width: 30%;
  margin-top: 5%;
  position: absolute;
  right: 0;
}
.p9 topic span {
  width: 100%;
  background: red;
  display: block;
  height: 5px;
  margin-top: 20px;
  right: 0;
}
.p9 p{
width: 600px;
font-size: 20px;
margin-top: 15%;
margin-left: 60%;
}

.p9 img {
  position: absolute;
  width: 40%;
  left: 0;
  top: 20%;
}





.p10 topic {
  font-size: 2.3em;
  width: 30%;
  margin-top: 5%;
  position: absolute;
  right: 0;
}
.p10 topic span {
  width: 100%;
  background: red;
  display: block;
  height: 5px;
  margin-top: 20px;
  right: 0;
}
.p10 p{
width: 600px;
font-size: 20px;
margin-top: 15%;
margin-left: 60%;
}

.p10 img {
  position: absolute;
  width: 40%;
  left: 0;
  top: 20%;
}
