html,body{
background-color: black;



}
@font-face {
	font-family: anurati;
	src:url("Anurati-Regular.otf");
}


header{
	display: flex;
	width:43%;
	height:50%;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.glitch {
  color: white;
  font-size: 200px;
  position:relative;
  width: 400px;
  margin: 0 auto;
	font-family: 'Anurati', anurati;

}

@keyframes noise-anim {
  0% {
    clip: rect(17px, 9999px, 180px, 0);
  }
  5% {
    clip: rect(151px, 9999px, 118px, 0);
  }
  10% {
    clip: rect(168px, 9999px, 184px, 0);
  }
  15% {
    clip: rect(17px, 9999px, 162px, 0);
  }
  20% {
    clip: rect(165px, 9999px, 183px, 0);
  }
  25% {
    clip: rect(171px, 9999px, 126px, 0);
  }
  30% {
    clip: rect(172px, 9999px, 158px, 0);
  }
  35% {
    clip: rect(121px, 9999px, 134px, 0);
  }
  40% {
    clip: rect(176px, 9999px, 130px, 0);
  }
  45% {
    clip: rect(15px, 9999px, 119px, 0);
  }
  50% {
    clip: rect(128px, 9999px, 166px, 0);
  }
  55% {
    clip: rect(122px, 9999px, 168px, 0);
  }
  60% {
    clip: rect(196px, 9999px, 158px, 0);
  }
  65% {
    clip: rect(189px, 9999px, 185px, 0);
  }
  70% {
    clip: rect(175px, 9999px, 118px, 0);
  }
  75% {
    clip: rect(159px, 9999px, 148px, 0);
  }
  80% {
    clip: rect(17px, 9999px, 129px, 0);
  }
  85% {
    clip: rect(31px, 9999px, 112px, 0);
  }
  90% {
    clip: rect(158px, 9999px, 113px, 0);
  }
  95% {
    clip: rect(130px, 9999px, 198px, 0);
  }
  100% {
    clip: rect(113px, 9999px, 184px, 0);
  }
}
.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(125px, 9999px, 146px, 0);
  }
  5% {
    clip: rect(144px, 9999px, 189px, 0);
  }
  10% {
    clip: rect(161px, 9999px, 169px, 0);
  }
  15% {
    clip: rect(133px, 9999px, 157px, 0);
  }
  20% {
    clip: rect(16px, 9999px, 157px, 0);
  }
  25% {
    clip: rect(153px, 9999px, 174px, 0);
  }
  30% {
    clip: rect(129px, 9999px, 128px, 0);
  }
  35% {
    clip: rect(131px, 9999px, 184px, 0);
  }
  40% {
    clip: rect(14px, 9999px, 113px, 0);
  }
  45% {
    clip: rect(14px, 9999px, 189px, 0);
  }
  50% {
    clip: rect(181px, 9999px, 129px, 0);
  }
  55% {
    clip: rect(117px, 9999px, 191px, 0);
  }
  60% {
    clip: rect(183px, 9999px, 191px, 0);
  }
  65% {
    clip: rect(183px, 9999px, 17px, 0);
  }
  70% {
    clip: rect(13px, 9999px, 127px, 0);
  }
  75% {
    clip: rect(132px, 9999px, 161px, 0);
  }
  80% {
    clip: rect(115px, 9999px, 198px, 0);
  }
  85% {
    clip: rect(187px, 9999px, 15px, 0);
  }
  90% {
    clip: rect(162px, 9999px, 137px, 0);
  }
  95% {
    clip: rect(163px, 9999px, 170px, 0);
  }
  100% {
    clip: rect(110px, 9999px, 174px, 0);
  }
}
.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}

.btn{
	max-width: 10px;
	max-height: 10px;
transform: scale(0.5, 0.5);
-ms-transform: scale(0.5, 0.5);
-webkit-transform: scale(0.5, 0.5);
margin-left: 40%;
}
